---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution?appid=f51abe7e542e3f9235429da354f46545&lat=51.5074&lon=-0.1278
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-0.1276,"lat":51.5073},"list":[{"main":{"aqi":1},"components":{"co":160.22,"no":1.69,"no2":4.71,"o3":53.64,"so2":2.77,"pm2_5":1.21,"pm10":2.78,"nh3":1.19},"dt":1720081328}]}'
  recorded_at: Thu, 04 Jul 2024 08:22:08 GMT
recorded_with: VCR 6.2.0
